#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    background-color: var(--black);
}

body {
    margin: 0;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

img {
    width: 12em;
}