#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    gap: 1em;
}
html, body {
    padding: 0;
    margin: 0;
}
main {
    background-color: var(--gray);
    width: 50%;
    padding: 2em;
    border-radius: 1em;
}