#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
}

section {
    background-color: var(--darkblue);
    padding: 1em 2em;
    border-radius: 1em;
    flex-flow: column nowrap;
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;

}