.Wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Wrapper h1 {
    margin: 0.5em 0 0.2em 0;
    font-size: 1.5em;
}
.Wrapper img {
    width: 4em;
    border-radius: 50%;
}
.Wrapper * {
    color: var(--red);
}