.Wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Wrapper img {
    width: 8em;
    border-radius: 50%;
}
.Wrapper * {
    color: var(--red);
}